@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');


:root{
    --mouse-x: 0px;
    --mouse-y: 0px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.window {
    border: 1px solid black;
    width: 1800px;
    height: 1000px;
    overflow: hidden;
    position: relative;
}

.background-boxe {
    border: 4px solid red;
    width: 3600px;
    height: 1000px;
    /* position: relative; */
    overflow: hidden;
    display: flex;
}

.background-image1, .background-image2 {
    border: 4px solid red;
    width: 1800px;
    height: 1000px;
    /* position: relative; */
}

.background1, .background2, .background3, .background4, .background5, .background6, .background7, .background8, .background9, .background10, .background11 {
    position: absolute;
    top: -300px;
    animation-name: slide1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.background2_2, .background3_2, .background4_2, .background5_2, .background6_2, .background7_2, .background8_2, .background9_2, .background10_2, .background11_2 {
    position: absolute;
    left: 2048px;
    top: -300px;
    animation-name: slide2;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.background1, .background1_2 {
    position: absolute;
    z-index: -16;
    top: 0;
}
.background2, .background2_2 {
    z-index: -13;
    top: -100px;
    animation-duration: 20s;
}
.background3,.background3_2 {
    z-index: -12;
    top: -100px;
    animation-duration: 18s;
}
.background4, .background4_2 {
    z-index: -11;
    top: -60px;
    animation-duration: 16s;
}
.background5, .background5_2 {
    z-index: -15;
    top: -300px;
    animation-duration: 14s;
}
.background6, .background6_2 {
    z-index: -9;
    top: -400px;
    animation-duration: 12s;
}
.background7, .background7_2 {
    z-index: -8;
    top: -400px;
    animation-duration: 10s;
}
.background8, .background8_2 {
    z-index: -7;
    top: -400px;
    animation-duration: 8s;
}
.background9, .background9_2 {
    z-index: -6;
    top: -400px;
    animation-duration: 6s;
}
.background10, .background10_2 {
    z-index: -5;
    top: -430px;
    animation-duration: 5s;
}
.background11, .background11_2 {
    z-index: 2;
    top: -120px;
    animation-duration: 4s;
}

.begin {
    position: absolute;
    z-index: 3;
    top: 150px;
}

button {
    width: 320px;
    height: 100px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: rgb(242, 162, 168);
    color: white;
    font-size: 1.95em;
    padding: 10px;
    animation: animateButton 2s linear infinite;
}

.pikachu {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: auto;
    top: 580px;
    right: 2500px;
    animation: pikachu 3s 5s linear both;
    animation-play-state: paused;
}

.pikachu img {
    width: 100%;
}

.scenario {
    position: absolute;
    z-index: 3;
    top: 150px;
    width: 1400px;
}

.scenario p {
    font-size: 7em;
    font-family: 'Delicious Handrawn', cursive;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    position: absolute;
}

.scenario p:nth-child(1){
    z-index: 3;
    top: 150px;
    animation: text-slide1 ease-in-out 2s ;
    animation-play-state: paused;
    left: -1100px;
}
.scenario p:nth-child(2){
    z-index: 3;
    top: 150px;
    animation: text-slide2 ease-in-out 2s 2s ;
    animation-play-state: paused;
    right: -1200px
}
.scenario p:nth-child(3){
    z-index: 3;
    top: 150px;
    animation: text-slide3 linear 1.5s 4s ;
    animation-play-state: paused;
    /* left: 360px; */
    left: -900px;
}

.pokeball {
    position: absolute;
    z-index: 8;
    width: 150px;
    height: auto;
    top: -150px;
    left: 100px;
    animation: pokeball linear 3s 1s forwards;
    animation-play-state: paused;
}

.pokeball img {
    width: 100%;
}

@keyframes slide1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animateButton {
    0%, 100%{
        transform: rotate(0) scale(1, 1);
    }
    10% {
        transform: scale(1.05, 1.05);
        
    }
    25%{
        transform: rotate(-3deg);
        background-color: rgb(219, 120, 126);
    }
    40%{
        transform: scale(1.1, 1.1);
        border: 9px solid rgb(255, 255, 255);
    }
    75%{
        transform: rotate(3deg) scale(1, 1);
    }  
}

@keyframes pikachu {
    0% {
        transform: translateX(3000px);
    }
    100% {
        transform: translateX(1800px)
    }
}

@keyframes text-slide1 {
    0% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(1660px) scale(1, 1);
    }
    36% {
        transform: translateX(1660px) scale(0.9, 1.1)
    }
    42% {
        transform: translateX(1660px) scale(1, 1)
    }
    48% {
        transform: translateX(1560px) scale(1, 1);
    }
    56% {
        transform: translateX(1560px) scale(1.1, 0.9);
    }
    62% {
        transform: translateX(1560px) scale(1, 1);
    }
    88% {
        transform: translateX(1580px) scale(1, 1);
        opacity: 1;
    }
    100% {
        transform: translateX(1380px) scale(1.8, 1.8);
        opacity: 0;
    }
}

@keyframes text-slide2 {
    0% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(-1400px) scale(1, 1);
    }
    36% {
        transform: translateX(-1400px) scale(0.9, 1.1)
    }
    42% {
        transform: translateX(-1400px) scale(1, 1)
    }
    48% {
        transform: translateX(-1300px) scale(1, 1);
    }
    56% {
        transform: translateX(-1300px) scale(1.1, 0.9);
    }
    62% {
        transform: translateX(-1300px) scale(1, 1);
    }
    88% {
        transform: translateX(-1320px) scale(1, 1);
        opacity: 1;
    }
    100% {
        transform: translateX(-1320px) scale(1.8, 1.8);
        opacity: 0;
    }
}

@keyframes text-slide3 {
    0% {
        transform: scale(0);
        left: 600px;
    }
    40% {
        transform: scale(1.2, 1.2);
        left: 600px;
    }
    46% {
        transform: scale(0.9, 0.9);
        left: 600px;
    }
    52% {
        transform: scale(1, 1);
        left: 600px;
    }
    90% {
        transform: scale(1, 1);
        opacity: 1;
        left: 600px;
    }
    100% {
        transform: scale(1.8, 1.8);
        opacity: 0;
        left: 600px;
    }
}

@keyframes pokeball {
    0% {
        transform: translateY(150px);
    }
    30% {
        transform: translateY(900px) rotate(160deg);
    }
    45% {
        transform: translateY(760px) rotate(190deg);
    }
    65% {
        transform: translateY(900px) rotate(220deg);
    }
    80% {
        transform: translateY(840px) rotate(250deg);
    }
    90% {
        transform: translateY(900px) rotate(280deg);
    }
    100% {
        transform: translateY(900px) rotate(310deg);
    }
};

@keyframes roll {
    0% {
        transform: rotate(0deg);
    };
    100% {
        transform: rotate(360deg);
    };
};